#footer {
 position: relative;
 min-height: 80px;
 padding: 30px 20px;
 background: $accent;
 color: rgba(255, 255, 255, .6);

 .container {
  align-items: center;
  height: 100%;
 }

 a {
  color: rgba(255, 255, 255, .9);
  &:hover {
   color: rgba(255, 255, 255, 1);
  }
 }

 .copyright {
  flex-grow: 1;
  font-weight: 300;
  font-size: .96em;
  line-height: 1.6;
 }

 .social-links {
   flex: 1;
 }
}

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  i {
    font-size: 1.7em;
  }
  li:not(:last-child) i { padding-right: .2em; }
}


@media screen and (max-width: $bpmax-mobile) {

 #footer {

  .container {

  }

 }

}
