.post-excerpt {
  color: #aaa;
  font-size: .85em;
  line-height: 1.4;
}

body.home #main {
  margin-top: 40px;
}

/*   Index : Grid View
/* -------------------------------------------------- */
.grid-view {
  display: flex;
  flex-flow: row wrap;
  padding: 16px 8px 0;
  overflow: hidden;

  .article {
    // display: flex;
    width: 50%;
    margin-bottom: 1.6em;
  }
  .post-inner {
    display: flex;
    flex-flow: column;
    position: relative;
    height: 100%;
    margin: 0 8px;
    background-color: #fff;
    transition: all .3s ease-out;
    @include box-shadow($y: 1px, $blur: 3px, $color: rgba(0, 0, 0, .1));
  }
  .post-link {
    display: block;
    flex-grow: 1;
    width: 100%;
    @include box-shadow($x: 0, $y: 1px, $blur: 0, $color: rgba(0, 0, 0, .04));
  }

  .post-thumbnail {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: all .4s ease-out;
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto;
      transition: all .4s ease-out;
    }
  }
  .post-content {
    display: block;
    margin: 6px 0;
    padding: 0 15px;
  }
  .post-date {
    position: relative;
    margin: 4px 0;
    color: #777;
    font-size: .9em;
    line-height: 1;
    text-align: center;
  }
  .post-title {
    margin: 6px 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  .post-excerpt {
    margin: 10px 0;
  }

  .post-meta {
    margin: 1px 0;
    padding: 4px 15px;
    font-size: .8em;
  }
  .post-category a {
    display: inline-block;
    padding: 0 4px;
  }
  .post-meta > *[class^=post-] { padding-right: 6px }
  .post-category {
    &::before { content: "\f114"; padding-right: 0 }
  }
  .post-comment {
    &::before { content: ""; }
    a::before { content: "\f0e5"; display: inline-block; padding-right: .2em; font-family: FontAwesome; }
  }

  // Hover Animations
  .post-thumbnail figure::after {
    position: absolute;
    top: calc(50% - 11px); right: calc(50% - 42px); z-index: 2;
    color: transparent;
    transition: all .4s ease-out;
  }
  .post-thumbnail figure::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; z-index: 2;
  }
  .post-thumbnail::before {
    content: '';
    position: absolute;
    top: 12px; right: 12px; bottom: 12px; left: 12px; z-index: 3;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: scale(0, 1);
  }
  .post-thumbnail::after {
    content: '';
    position: absolute;
    top: 12px; right: 12px; bottom: 12px; left: 12px; z-index: 3;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    transform: scale(1, 0);
  }
  .post-inner:hover {
    @include box-shadow($y: 6px, $blur: 10px, $spread: 0);
    transform: translate(0, -2px);
  }
  .post-inner a:hover {
    .post-thumbnail figure::before {
      width: 100%; height: 100%;
      background-color: rgba($blue, .2);
    }
    .post-thumbnail figure::after {
      content: "Read More...";
      color: #fff;
      transition: all .4s ease-out;
    }
    .post-thumbnail::before, .post-thumbnail::after {
      transform: scale(1);
      transition: transform .4s;
    }
    .post-thumbnail::before { border-top-color: #fff; border-bottom-color: #fff; }
    .post-thumbnail::after { border-right-color: #fff; border-left-color: #fff }
    .post-thumbnail img {
      filter: blur(4px);
      transform: scale(1.1);
    }
  }
  @media screen and (max-width: $bpmax-mobile) {
    flex-flow: column wrap;
    padding: 2em 20px;
    .post, .page {
      width: 100%;
    }
  }

}

/*   Index : Standard View
/* -------------------------------------------------- */
.standard-view {
  padding: 20px 5px;

  .post, .page {
    margin-bottom: 20px;
  }
  .post-inner {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding: 15px 15px 15px 15px + 15px + 200px;
    background-color: #fff;
    @include box-shadow($y: 1px, $blur: 3px, $color: rgba(0, 0, 0, .05));
  }
  .post-header {
    flex-grow: 1;
    width: 100%;
  }
  .post-thumbnail {
    width: 100%;
    max-width: 200px;
    position: relative;
    margin-right: 15px;
    margin-left: -215px;
    transition: all .4s;
    align-self: flex-start;
    @include box-shadow($blur: 6px);
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 2px;
    }
  }
  .post-title {
    margin-bottom: 12px;
    font-size: 1.4em;
    line-height: 1.3;
    font-weight: bold;
    a {
      display: block;
    }
  }
  .post-content {
    width: 100%
  }
  .post-meta {
    margin: 12px 0;
  }
  .post-excerpt {
    margin: 12px 0;
  }
  .more {
    align-self: flex-start;
  }
  .post-title:hover {
    color: $link;
  }
  .post-thumbnail:hover {
    opacity: .9;
  }

  @media screen and (max-width: $bpmax-mobile) {
    margin-bottom: 20px;
    padding: 0;
    background-color: #fff;
    @include box-shadow();
    .post, .page {
      margin-bottom: 0;
      border-bottom: 1px solid #f0f0f0;
      box-shadow: none;
    }
    .post-inner {
      padding-left: 15px + 15px + 100px;
      box-shadow: none;
    }
    .post-thumbnail {
      max-width: 100px;
      margin-left: -115px;
      margin-right: 15px;
    }
    .post-meta {
      margin-bottom: 0;
    }
    .post-excerpt {
      margin-bottom: 0;
    }
    .more {
      display: none;
    }
    ul.page-numbers {
      border-bottom: 0;
    }
  }
}

/*   Index : Page Navigation
/* -------------------------------------------------- */
ul.page-numbers {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto 10px;
  border-bottom: 2px solid #ddd;
  color: $link;
  font-weight: bold;

  li {
    display: inline-block;
    position: relative;
    bottom: -2px;
  }

  li > * {
    display: block;
    padding: 6px 10px;
    border-bottom: 2px solid #ddd;
    transition: border .4s;
  }
  span.page-numbers.current { color: #000; border-bottom: 2px solid $link; }
  a.page-numbers:hover { border-bottom: 2px solid $link; }
}
