@charset "UTF-8";

/*   plugin : Table Of Content Style
/* -------------------------------------------------- */
#toc_container {
 display: block;
 background: transparent;
 width: 80%;
 min-width: 80%;
 max-width: 80%;
 margin: 1.4em auto;
 padding: 20px 0;
 border: 1px solid $accent;
 font-size: .95em;
 line-height: 1.4;

 ul {
  margin: 0;
  padding: 0;
  list-style: none;
 }
 a {
  text-decoration: none;
  box-shadow: none;
  &:hover { text-decoration: none; box-shadow: none }
 }
 p.toc_title {
  margin: 0;
  text-align: center;
  font-weight: bold;
 }
 a span {
  font-weight: 300;
  font-family: $lato;
 }
 a span::after {
  content: ".";
  padding-left: .1em;
 }

 ul {
  margin-left: 1em;
 }
 .toc_list {
  a {
   display: block;
   padding: 8px 10px;
   border-bottom: 1px solid $accent;
   transition: all .4s, border .4s .4s;
  }
  ul ul a {
   border-bottom-style: dotted;
  }
 }
 @media screen and (max-width: $bpmax-mobile) {
  width: 95%;
  min-width: 95%;
  max-width: 95%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: .95em;
 }
}

/*
Styles for contact form 7 imported from the Hueman theme - http://presscustomizr.com/hueman/
Copyright: (c) 2015-2016 Nicolas GUILLAUME (nikeo), 2013-2015 Alexander "Alx" Agnarson
*/
/*  plugin : contact form 7
/* ------------------------------------ */
.wpcf7 {  }
.wpcf7 p { color: #222; font-weight: 600; margin: 0 0 12px;  width: 100%; float: left; position: relative; }
.wpcf7 p span { font-weight: 400; color: #999; }
.wpcf7 label { display: block; float: left; width: 20%; margin: 9px 0 0 12px; text-align: left; }
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="number"],
.wpcf7 select { display: block; float: left; padding: 10px; }
.wpcf7 textarea { display: block; float: left; padding: 10px; width: 100%; }
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="number"],
.wpcf7 select,
.wpcf7 textarea { background-color: #f5f5f5; margin-top: 12px; }
.wpcf7 input[type="submit"] { font-size: 18px; }
.wpcf7 div.wpcf7-validation-errors { border: none; margin: 0; padding: 0; }
.wpcf7 div.wpcf7-mail-sent-ok,
.wpcf7 div.wpcf7-mail-sent-ng { border: none; }
.wpcf7 div.wpcf7-response-output { margin: 0; padding: 0; }
.wpcf7 span.wpcf7-form-control-wrap { display: block; position: relative; }
.wpcf7 span.wpcf7-not-valid-tip { background-color: #f2dede; border-color: #e3bfbf; color: #b94a48; padding: 4px 14px; font-size: 12px; line-height: 20px; position: absolute; left: 0; top: 12px; width: auto; right: 0; display: block; }
