/*   Sidebar and widgets styling
/* -------------------------------------------------- */
.sidebar {
  padding: 10px;
  background-color: #fafafa;
  @include box-shadow($y: 1px, $blur: 3px, $color: rgba(0, 0, 0, .05));

  .widget {
    background-color: #fff;
    @include box-shadow($y: 1px, $blur: 3px, $color: rgba(0, 0, 0, .1));
    &:last-child { margin-bottom: 0 }
  }

}

// Tablet && Mobile
@media screen and (max-width: $bpmax-tablet) {
  .sidebar {
    margin-top: 40px;
  }
  .sidebar-inner {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
}
// Tablet
@media screen and (max-width: $bpmax-tablet) and (min-width: $bpmin-tablet) {
  .sidebar .widget {
    width: calc(50% - 10px);
    margin: 5px;
  }
}
// Mobile
@media screen and (max-width: $bpmax-mobile) {
  .sidebar {
    display: block;
    padding-left: 1em;

    .widget {
      width: 100%;
    }
  }

}


/*   Sidebar : Widget
/* -------------------------------------------------- */
.widget {
  margin-bottom: 24px;
  padding: 20px;
  font-size: .94em;

  .widget-title {
    position: relative;
    margin-bottom: .8em;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: capitalize;
  }

  a {
    color: #888;
    &:hover {
      color: currentColor;
    }
  }

  select {
    width: 100%;
    padding: 4px 6px;
  }
  option {
    padding: 4px 0;
  }

  .textwidget {
    p {
      margin-bottom: 1em;
    }
    a {
      color: $link;
      &:hover {
        color: $hover;
      }
    }
    ul {
      list-style: square;
      position: relative;
      margin-bottom: 1em;
      padding-left: 30px;
    }
    ol {
      list-style: decimal;
      position: relative;
      margin-bottom: 1em;
      padding-left: 30px;
    }
    ul li, ol li {
     ul, ol {
        margin-bottom: .5em;
        margin-top: .5em;
      }
    }
  }

  &_recent_entries {
    li a {
      display: block;
      position: relative;
      padding: 10px 8px;
      border-bottom: 1px solid $border;
      line-height: 1.5;
    } li:first-of-type a { border-top: 1px solid $border }
    .post-date {
      display: block;
      color: #444;
    }
  }

  &_recent_comments {
    li {
      display: block;
      position: relative;
      padding: 10px 8px;
      border-bottom: 1px solid $border;
      line-height: 1.5;
    } li:first-of-type { border-top: 1px solid $border }
  }

  &_archive {
    li a {
      display: block;
      position: relative;
      padding: 10px 8px;
      border-bottom: 1px solid $border;
      line-height: 1.5;
    } li:first-of-type a { border-top: 1px solid $border }
    .count {
      position: absolute;
      right: 0;
    }
    li a::before { content: "\f073"; position: relative; top: -1px; padding-right: .5em; font-family: FontAwesome; font-size: .8em }
  }

  &_categories {
    li a {
      display: block;
      position: relative;
      padding: 10px 8px;
      border-bottom: 1px solid $border;
      line-height: 1.5;
      &::before { content: "\f115"; padding-right: .4em; font-family: FontAwesome; font-size: .8em }
    } li:first-of-type a { border-top: 1px solid $border }
    .count {
      position: absolute;
      right: 0;
    }
    .children {
      padding-left: 1em;
      &:first-of-type a { border-top: 0 }
      li a::before { content: "\f114"; padding-right: .4em; font-family: FontAwesome; font-size: .8em }
    }
  }

  &_tag_cloud {
    a {
      display: inline-block;
      margin: .2em .03em;
      padding: 4px 6px;
      border: 1px solid #ddd;
      border-radius: 2px;
      background-color: #f0f0f0;
      color: rgba(0, 0, 0, .8);
      line-height: 1.2;
      font-size: 1.5rem !important;
      transition: all .4s;
      @include box-shadow($y: 1px, $blur: 1px, $color: rgba(0, 0, 0, .1));
      &:hover {
        color: #000;
        background-color: #ddd;
        @include box-shadow($y: 2px, $blur: 1px, $color: rgba(0, 0, 0, .3));
      }
      .tag-link-count {
        margin-left: .2em;
        color: #777;
        font-family: Lato, Arial, sans-serif;
        font-size: .9em;
        line-height: 1.2;
      }
    }
  }

  &_pages {
    li a {
      display: block;
      position: relative;
      padding: 10px 8px;
      border-bottom: 1px solid $border;
      line-height: 1.5;
    } li:first-of-type a { border-top: 1px solid $border }
    .children {
      padding-left: 1em;
      &:first-of-type a { border-top: 0 }
    }
  }

  &_nav_menu {
    li a {
      display: block;
      position: relative;
      padding: 10px 8px;
      border-bottom: 1px solid $border;
      line-height: 1.5;
    } li:first-of-type a { border-top: 1px solid $border }
    .sub-menu {
      padding-left: 1em;
      &:first-of-type a { border-top: 0 }
    }
  }

  &_meta {
    li a {
      display: block;
      position: relative;
      padding: 10px 8px;
      border-bottom: 1px solid $border;
      line-height: 1.5;
    } li:first-of-type a { border-top: 1px solid $border }
  }

  #wp-calendar {
    width: 100%;
    a { color: $link; }
    a:hover { color: $hover; }
    caption { margin-bottom: .4em; }
    tbody {
      text-align: center; vertical-align: middle;
      a { @include box-shadow($x: 0, $y: 1px, $blur: 0, $color: currentColor); }
      a:hover { @include box-shadow($x: 0, $y: 2px, $blur: 0, $color: #000);}
    }
  }

  &_rss {
    li {
      display: block;
      position: relative;
      padding: 10px 8px;
      border-bottom: 1px solid $border;
      line-height: 1.5;
    } li:first-of-type { border-top: 1px solid $border }
  }

  &_cd_widget_social_links {
    .social-links {
      &.has-1, &.has-2, &.has-3 {
        li { flex-grow: 1 }
      }
      li {
        flex-basis: 25%;
        &:not(:first-child) { margin-left: 0; }
       }
       a {
         display: block;
         margin: .16em .06em;
         padding: .3em .7em;
        //  border: 1px solid #fff;
         background-color: $link;
         color: #fff;
         text-align: center;
       }
       @mixin box-shadow-sns( $color ) {
        //  box-shadow: 0 2px 3px rgba($color, .4);
         box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
       }
       @mixin box-shadow-sns-hover() {
         box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
       }

      a::after, a::before { content: none }
    }
  }

  .widgets-list-layout a {
    display: block;
    img { transition: all .2s; }
  }
  .widgets-list-layout li {
    display: flex;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
    img.widgets-list-layout-blavatar {
      max-width: 100px;
      width: 100px;
      border-radius: 6px;
      transition: all .2s;
    }
  }
  .widgets-list-layout .widgets-list-layout-links {
    width: 100%;
    padding: .6em .5em 0;
  }
  .widgets-list-layout .widgets-list-layout-links a {
    color: #444;
    transition: all .2s;
  }
  .widgets-list-layout li:hover {
    a { color: $link; }
    img { opacity: .8 }
  }




  @media screen and (max-width: $bpmax-mobile) {

    

  }

}
