$main-width: 1140px;
$side-width: 320px;
$lato: Lato, Arial, sans-serif;
$main-font: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
$base-font-size: 16px;

$bpmax-mobile: 640px;
$bpmin-tablet: 641px;
$bpmax-tablet: 980px;
$bpmin-pc: 981px;

$border: #eaeaea;
$accent: #44463B;
$link: #00619F;
$hover: #2e4453;
$text: #333;
$head: #111;
$blue: #416292;
$bg-color: #f6f6f6;
