*.DS_Store
*.git
yarn-error.log
dist

/.idea/
/vendor/
/node_modules/

# Build files
languages/coldbox.pot
*.map
assets/css/
!assets/css/czr-style.css
assets/html/CHANGELOG.html
assets/fonts/
!assets/fonts/simple-icons.*

assets/js/min/
assets/js/unmin/
