*.DS_Store
*.git
yarn-error.log
dist

/.idea/
/vendor/
/node_modules/

# Build files
languages/coldbox.pot
*.map
assets/css/style.css
assets/css/style.min.css
assets/css/editor-style.css
assets/css/editor-style.min.css
assets/css/page-style.css
assets/css/page-style.min.css
assets/css/czr-style.min.css
assets/html/CHANGELOG.html

assets/fonts/fontawesome/

assets/js/min/
assets/js/unmin/
