sudo: false

language: php

dist: precise

notifications:
  email:
    on_success: never
    on_failure: change

env:
  global:
    - GIT_COMMITTER_NAME=Mirucon
    - GIT_COMMITTER_EMAIL=i@miruc.co
    - GIT_AUTHOR_NAME=Mirucon
    - GIT_AUTHOR_EMAIL=i@miruc.co
    - secure: "jZ03RQsfz68oTLnGDw5NeWrwtu3eqSuSfzxFgTQ7QtWLfRPNqhlDkw32puoMFOnLLDPlT5YiiHatiD4uKLMyOYobKXkwPc+rQOs65vw75fI2OH+XFyKzmuA77WN0A1JncX2GypvDCdS4dSWEzb4tOcyE42WWnlNchpFQRLLz5f7xc1trQR1w6fZlNyhKJdVPpEt9qtJlwXQlAMZOCDMkQevCB4WEnQbiw4973CYRL2rL/YkqpmMfnwCjwvRXHgcQJb7H1setLcBfYlK4LmzNL9FJ6JF7h/MoKM/CDE88cuQAdGDe8neJPBBamneGssBkJM7+t4GMmjWpXHDXpNwInZZEC+ARgB1A/pdJN3XBHMaCpsoBjiaiTI5ebeH320qTy+koGjHwIortJ1olsoS51iPNrZFj1MYeBIigVsU2eJ3b/XX7wR0gGLdles4p7h41yNYJZisr5pTFbXlJiIkKQHYgWHWGhzkfqaUNKhqQu692hkl8IiJOPbepXUhkCAx8JE+NsMg7Ap+e6GdQQRMEXfvd5A2k2cAfFVMNENC7mq3bhAnAO7Pmd8xKdU4LsdvnSvQaXaZYZ9Aj4QRYoagS162gE+fTx4catRDRr5DlhyHneFQAkA/mLjq3/hIXlmbVOkvpoin/WINrcgnmc9cggkEmveNcBKxSgwqv39honvM="

branches:
  only:
    - master

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

install:
  - nvm install 7
  - npm install

matrix:
  include:
    - php: 7.1
      env: WP_VERSION=latest
    - php: 7.0
      env: WP_VERSION=latest
    - php: 5.6
      env: WP_VERSION=version 4.5 or higher
    - php: 5.6
      env: WP_VERSION=latest
    - php: 5.6
      env: WP_VERSION=trunk
    - php: 5.6
      env: WP_TRAVISCI=phpcs
    - php: 5.3
      env: WP_VERSION=latest

before_script:
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
      if [[ ${TRAVIS_PHP_VERSION:0:2} == "5." ]]; then
        composer global require "phpunit/phpunit=4.8.*"
      else
        composer global require "phpunit/phpunit=5.7.*"
      fi
    fi
  - |
    if [[ "$WP_TRAVISCI" == "phpcs" ]] ; then
      composer global require wp-coding-standards/wpcs
      phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs
    fi

script:
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      phpunit
      WP_MULTISITE=1 phpunit
    fi
  - |
    if [[ "$WP_TRAVISCI" == "phpcs" ]] ; then
      phpcs --standard=phpcs.ruleset.xml $(find . -name '*.php')
    fi

after_success:
  # Run npm build task.
  - bash ./bin/deploy.sh