.customize-control select, .customize-control option {
 width: 100%;
}
.customize-control input[type="number"] {
 width: auto;
}

#accordion-section ul li {
 margin: 2px 0;
 font-family: 'Open Sans', Arial, sans-serif;
}
